MONGO_URI=mongodb+srv://mohammedyasar:eZpupWadpBsnPO1s@cluster.mongodb.net/hypenest?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
PORT=5000
CLOUDINARY_CLOUD_NAME=j8oposhs
CLOUDINARY_API_KEY=355854998192418
CLOUDINARY_API_SECRET=5T_udOC_AkZ3TCJ4OBXwxpHs-Ok

